.advantages {
  background-color: black;
  padding: 50px 50px;
  &__title {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 0.8;
    margin-bottom: 18px;
  }
  &__text {
    color: rgba(255, 255, 255, 0.7);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    width: 308px;
    
  }
  &__list{
    display: flex;
    justify-content: center;
    gap: 88px;
  }
  &__symbol{
    fill: $accentcolor;
    
  }
  &__link{
    height: 32px;
    width: 32px;
    margin-bottom: 22px;
    border: solid gray 1px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 7px 7px;
  }

 
}
