.cooking {
    &__title {
        text-align: center;
        font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 1.2;
letter-spacing: -0.6px;

@media screen and (min-width:768px) {
    font-size: 24px;
    line-height: 1.16;
letter-spacing: -0.72px;
}
    }

    &__span {
        text-align: center;
        font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 1.2;
letter-spacing: -0.6px;

@media screen and (min-width:768px) {
    font-size: 24px;
    line-height: 1.16;
letter-spacing: -0.72px;
}
    }

    &__img {
        width: 335px;
        height: 500px;
        border-radius: 15px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(<path-to-image>) lightgray -158.445px -335.767px / 187.796% 186.969% no-repeat;

@media  screen and (min-width:768px) {
    width: 614px;
    height: 400px;
}

@media  screen and (min-width:1136px) {
    width: 600px;
}
    }

    &__subtitle {
        width: 307px;
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 1.33;

@media screen and (min-width:768px) {
    width: 350px;
}
    }

    &__item {
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 1.28; 
letter-spacing: -0.28px;
    }
}