.footer {
    padding-top: 62px;
  


     &__box {
        background-image: url(../img/subcribe.webp);
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 72px;
        text-align: center;
     }
    &__title {
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 62px;
    }

    &__desc {
        color: white;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;
        width: 326px;
        margin: 0 auto;
        margin-top: 24px;
        margin-bottom: 24px;
    }



    &__sub {
        padding: 12px 28px;
        align-items: flex-start;
        gap: 14px;
        background-color: #FD9222;
        border: none;
        border-radius: 50px;
        color: #FFF;
        font-size: 18px;
        font-weight: 600;
    }

    &__div {
        background: #1E1823;

        align-items: center;
        padding-bottom: 54px;

        @media screen and (min-width: 768) {
            display: flex;
        }
    }

    &__address {
        margin-left: auto;
        margin-right: 148px;
        gap: 4px;
    }

    &__color {
        color: #FD9222;
    }

    &__chocolate {
        color: #ffffff;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; 
        letter-spacing: -0.48px;
        width: 300px;
        text-align: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }


    &__contant {
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        margin-top: 50px;
        margin-bottom: 14px;
    
        @media screen and (min-width: 768px) {
            margin-left: auto;
        }
    }

    &__link {
color: #FFF;
text-align: center;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.28px;
    }
}   