.header {
    padding-top: 24px;
    padding-bottom: 24px;

    @media screen and (min-width: 1132px) {
        padding-top: 26px;
        padding-bottom: 34px;
    }

    
    
    & > .container {
        display: flex;
        align-items: center;
    }

    &__logo {
        color: #111;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.54px;
    }

    &__nav {
        display: none;

        @media screen and (min-width: 1132px) {
            display: block;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        gap: 24px;
        margin-left: 188px;
    }

    &__sublist {
        
    }

    &__link {
        color: #111;

        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 114.286% */
        letter-spacing: -0.28px;
    }

    &__items {
        display: flex;
    }
   
    &__burger {
        border: none;
        width: 28px;
        height: 28px;
        @media  screen and (min-width: 1136px) {
          display: none;
          
        }
        
    }
}
.menu {
    z-index: 1;
    position: fixed;
    top: 0; left: 0;
    width: 220px;
    height: 812px;
    background-color: #1E1823;
   
  
    &__button {
      background-color: transparent;
      position: absolute;
      top: 20px; right: 20px;
      border: none;
  
    }
    &__close {
        width: 28px;
        height: 28px;
    }
  
    
  
  &__link {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: -0.28px;
  
  &:hover {
    color: #FD9222;
  }
  }
 
  }
 .is-hidden {
    pointer-events: none;
    opacity: 1;
 }