.container {
    max-width: 1136px;
    outline: 1px solid red;
    margin: 0 auto;
    padding: 0 32;

    @media screen and (max-width: 480px) {
        width: 480px;
      }

      @media screen and (min-width: 704px) {
        width: 704px;
      }
  
  
    @media screen and (min-width: 1136px) {
      width: 1136px;
  
  }

}
