 <link rel="stylesheet" href="../scss/sections/_header.scss"> 
<header class="header">
    <div class="container">
    <a href="../index.html" class="header__logo">SIMPLY CHOCOLATE</a>
    <nav class="header__nav">
    <ul class="header__list">
        <li class="header__sublist">
            <a href="#" class="header__link">Home</a>
        </li>
        <li class="header__sublist">
            <a href="#" class="header__link">How it’s made?</a>
        </li>
        <li class="header__sublist">
            <a href="#" class="header__link">Our products</a>
        </li>
        <li class="header__sublist">
            <a href="#" class="header__link">Top sellers</a>
        </li>
        <li class="header__sublist">
            <a href="#" class="header__link">Chocolate is loved</a>
        </li>
    </ul>
     </nav>
     <ul class="header__items">
    <li class="header__element"><a href="#" class="header__svg"> 
        <svg>
            <use></use>
        </svg>
    </a>
    </li>
    <li class="header__element"><a href="#" class="header__svg"> 
        <svg>
            <use></use>
        </svg>
    </a>
</li>
</ul>
</div>
</header>