<header class="header">
    <div>
    <a href="../index.html" class="header__logo">SIMPLY CHOCOLATE</a>
    <nav class="header__nav">
    <ul class="header__list">
        <li class="header__sublist">
            <a href="#" class="header__link">Home</a>
        </li>
        <li class="header__sublist">
            <a href="#" class="header__link">How it’s made?</a>
        </li>
        <li class="header__sublist">
            <a href="#" class="header__link">Our products</a>
        </li>
        <li class="header__sublist">
            <a href="#" class="header__link">Top sellers</a>
        </li>
        <li class="header__sublist">
            <a href="#" class="header__link">Chocolate is loved</a>
        </li>
    </ul>
     </nav>
    <a href="#" class="header__svg"> 
        <svg>
            <use></use>
        </svg>
    </a>

    <a href="#" class="header__svg"> 
        <svg>
            <use></use>
        </svg>
    </a>
</div>
</header>