<header class="header">
    <div class="container">
      
    <a href="../index.html" class="header__logo">SIMPLY CHOCOLATE</a>
    <!-- <svg>
        <use></use>
    </svg> -->
    <nav class="header__nav">
    <ul class="header__list">
        <li class="header__sublist">
            <a href="#" class="header__link">Home</a>
        </li>
        <li class="header__sublist">
            <a href="#" class="header__link">How it’s made?</a>
        </li>
        <li class="header__sublist">
            <a href="#" class="header__link">Our products</a>
        </li>
        <li class="header__sublist">
            <a href="#" class="header__link">Top sellers</a>
        </li>
        <li class="header__sublist">
            <a href="#" class="header__link">Chocolate is loved</a>
        </li>
    </ul>
     </nav>
    <!-- <a href="#" class="header__svg"> 
        <svg>
            <use></use>
        </svg>
    </a>

    <a href="#" class="header__svg"> 
        <svg>
            <use></use>
        </svg>
    </a> -->
    <button type="button" class="header__burger" data-modal-open-header>
    <svg>
        <use href=""></use>
    </svg>
    </button>
    <div class="menu is-hidden" data-modal-header>
        <button type="button" class="menu__button" data-modal-close-header> 
            <svg class="">
                <use href="../img/symbol-defs.svg#icon-menu-mobile"></use>
            </svg>
        </button>
        
       <ul class="menu__list">
        <li>
            <a href="../index.html" class="menu__link">Home</a>
        </li>
        <li>
            <a href="" class="menu__link">How it’s made?</a>
        </li>
        <li>
            <a href="" class="menu__link">Our products</a>
        </li>
        <li>
            <a href="" class="menu__link">Top sellers</a>
        </li>
        <li>
            <a href="" class="menu__link">Chocolate is loved</a>
        </li>
       </ul>
       <div class="menu__social">
        <a href="" class="menu_links">
       <svg class="menu__svg">
        <use href="./img/symbol-defs.svg#icon-instagram"></use>
       </svg>
    </a>
    <a href="" class="menu_links">
       <svg class="menu__svg">
        <use href="./img/symbol-defs.svg#icon-twitter"></use>
       </svg>
    </a>
    </div>
    </div>
    </div>
</div>
</header>