<section class="hero">
    <div class="container">
    <p class="hero__text">
        Treat yourself or a loved one to 
our finest ingredients for a moment 
of pure delight!
    </p>    
    <button class="hero__buy">
        Buy now
    </button>
    <button class="hero__made">
        How it’s made
    </button>
    <div class="hero__div">
        <p class="hero__texts">
            scroll down
        </p>
        <button class="hero_scroll">
            <svg>
                <use>
                    
                </use>
            </svg>
        </button>
    </div>
    </div>
</section>