<section class="hero">
    <div class="container"> 
       <div class="hero__background">
       <p class="hero__text">
            Treat yourself or a loved one to <br>
            our finest ingredients for a moment <br>
            of pure delight!
       </p>
       <ul class="hero__list">
           <li class="hero__sublist">
               <button class="hero__button">Buy now</button>
           </li>
           <li class="hero__sublist">
               <button class="hero__button">How it’s made</button>
           </li>
       </ul>

        <div class="hero__subdiv">
           <p class="hero__subtext">scroll down</p>
       <button class="hero__scrol">
           <!-- <svg class="hero-svg">
           <use>

           </use>
           </svg> -->
       </button>
       
   </div>
   </div>
   </div>
</section>