<section class="products">
    <div class="container">
        <h3 class="products__title">our <span class="products__color">products</span></h3>

        <ul class="products__list">
            <li class="products__item">
                <img src="../img/orange-chok.webp" alt="orange chocolate" class="products__img">
                <h3 class="products__name">orange</h3>
                <p class="products__desc">Dark chocolate</p>

                <button class="products__price">45 UAH</button>
            </li>
            <li class="products__item">
                <img src="../img/apple-chok.webp" alt="apple chocolate" class="products__img">
                <h3 class="products__name">APPLE&CRANBERRY</h3>
                <p class="products__desc">Milk chocolate</p>

                <button class="products__price">50 UAH</button>
            </li>
            <li class="products__item">
                <img src="../img/lime-chok.webp" alt="lime chocolate" class="products__img">
                <h3 class="products__name">lime&sea salt</h3>
                <p class="products__desc">Dark chocolate</p>
                <button class="products__price">66 UAH</button>
            </li>

          
                <li class="products__item">
                    <img src="../img/pinaple-chok.webp" alt="pinaple chocolate" class="products__img">
                    <h3 class="products__name">pineapple</h3>
                    <p class="products__desc">Dark chocolate</p>

                    <button class="products__price">54 UAH</button>
                </li>
        </ul>

        <ul class="slider">
            <li class="slider__item"><button class="slider__dot" id="dot1"></button></li>
            <li class="slider__item"><button class="slider__dot" id="dot2"></button></li>
            <li class="slider__item"><button class="slider__dot" id="dot3"></button></li>
            <li class="slider__item"><button class="slider__dot" id="dot4"></button></li>
            <li class="slider__item"><button class="slider__dot" id="dot5"></button></li>
            <li class="slider__item"><button class="slider__dot" id="dot6"></button></li>
            <li class="slider__item"><button class="slider__dot" id="dot7"></button></li>
            <li class="slider__item"><button class="slider__dot" id="dot8"></button></li>
        </ul>

    <script src="../js/slider.js"></script>

</div>
</section>