<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">
      <span class="reviews__span">CHOCOLATE</span> IS LOVED
    </h2>
    <ul class="reviews__list">
      <li class="reviews__item">
        <img src="./img/vica-rev.webp" alt="Victoria" class="reviews__img" />
        <h3 class="reviews__name">Victoria Dobrzhanska</h3>
        <p class="reviews__text">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="reviews__item">
        <img
          src="./img/babenko-reviews.webp"
          alt="Nazar"
          class="reviews__img"
        />
        <h3 class="reviews__name">Nazar Babenko</h3>
        <p class="reviews__text">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="reviews__item">
        <img src="./img/olena-reviews.webp" alt="Olena" class="reviews__img" />
        <h3 class="reviews__name">Olena Kampusch</h3>
        <p class="reviews__text">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
    </ul>
    <ul class="slide">
      <li class="slide__item"><button class="slidem__dot"></button></li>
      <li class="slide__item"><button class="slide__dot"></button></li>
      <li class="slide__item"><button class="slide__dot"></button></li>
      <li class="slide__item"><button class="slide__dot"></button></li>
    </ul>
    <ul class="reviews__button">
      <li class="button__item">
        <button class="reviews__btn">Leave a review</button>
      </li>
    </ul>
  </div>
</section>
