<section class="sellers">
    <div class="container sellers__box">
        <h2 class="sellers__title"><SPAN class="sellers__span">TOP</SPAN> SELLERS</h2>
        <ul class="sellers__list">
            <li class="sellers__item">
                <picture>
                    <source srcset="./img/desctop/chok-and-nuts-desktop@1x.webp 1x, ./img/desctop/chok-and-nuts-desktop@2x.webp 2x" media="(min-width: 1136px)">
                    <source srcset="./img/tablet/chok-and-nuts-tablet@1x.webp 1x, ./img/tablet/chok-and-nuts-tablet@2x.webp 2x" media="(min-width: 768px)">
                    <source srcset="./img/mobile/chok-and-nuts-mobile@1x.webp 1x, ./img/mobile/chok-and-nuts-mobile@2x.webp 2x" media="(max-width: 767px)">
                    <img src="./img/choc-and-nuts.webp" alt="pieces of chocolate and nuts" class="sellers__img">
                </picture>
            </li>
            <li class="sellers__item">
                <picture>
                    <source srcset="./img/mobile/chok-and-leafs-desktop@1x.webp 1x, ./img/mobile/chok-and-leafs-desktop@1x.webp 1x"  media="(min-width: 1136px)">
                    <source srcset="./img/tablet/chok-and-leafs-tablet@1x.webp 1x, ./img/tablet/chok-and-leafs-tablet@2x.webp 2x" media="(min-width: 768px)">
                    <source srcset="./img/desctop/chok-and-leafs-mobile@1x.webp 1x, ./img/desctop/chok-and-leafs-mobile@2x.webp 2x" media="(max-width: 767px)">
                    <img src="./img/choc-and-leafes.webp" alt="pieces of chocolate and leafes" class="sellers__img">
                </picture>
            </li>
            <li class="sellers__item">
                <img src="./img/choc-and-coockis.webp" alt="pieces of chocolate and cookies" class="sellers__img">
            </li>
        </ul>
        <div class="sellers__wrap">
        <p class="sellers__text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
        <button class="sellers__button" type="button">
            <a href="#sellerslink" class="sellers__link" data-modal-open>Buy now</a>
        </button>
    </div>
    </div>
</section>