<section class="sellers">
    <div class="container sellers__box">
        <h2 class="sellers__title"><SPAN class="sellers__span">TOP</SPAN> SELLERS</h2>
        <ul class="sellers__list">
            <li>
                <img src="./img/choc-and-nuts.webp" alt="pieces of chocolate and nuts" class="sellers__img">
            </li>
            <li>
                <img src="./img/choc-and-leafes.webp" alt="pieces of chocolate and leafes" class="sellers__img">
            </li>
            <li>
                <img src="./img/choc-and-coockis.webp" alt="pieces of chocolate and cookies" class="sellers__img">
            </li>
        </ul>
        <div class="sellers__wrap">
        <p class="sellers__text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
        <button class="sellers__button" type="button">
            <a href="#sellerslink" class="sellers__link">Buy now</a>
        </button>
    </div>
    </div>
</section>