<section class="types">
  <div class="container">
    <h1 class="types__title">
        IT ALL ADDS UP TO ONE <br>  EXCEPTIONAL  TASTE SENSATION
    </h1>
    <h2 class="types__titles">
      At Simply Chocolate, we believe that the secret to exceptional chocolate <br>
      
      is in the details. From the sourcing of the finest ingredients to the <br>
      
      careful crafting of each individual piece, every step of our process adds <br>
    
      up to one exceptional taste sensation.
    </h2>
    <ul class="types__list">
      <li class="types__sublist">
        <div class="types__color">
        <img
          src="./img/milk-choc.webp"
          alt="milk chokolate"
          class="types__img"
        />
        <p class="types__text"> MILK CHOKOLATE</p>
          <!-- <h3 class="types__article">Milk chocolate</h3> -->
          <!-- <button type="button" class="types__button">
            chocolate
          </button>
          <button type="button" class="types__button">
            the benefits
          </button>
          <p class="types__card">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe, increasingly large amounts are consumed in China and Latin America.</p> -->
    </div>
      </li>
      <li class="types__sublist">

        <div class="types__color">
        <img src="./img/milk.webp" alt="milk" class="types__img" />

        <p class="types__text">MILK</p>
  
    </div>
      </li>
      <li class="types__sublist">
        <div class="types__color">
        <img src="./img/nuts.webp" alt="nuts" class="types__img" />
        <p class="types__text">NUTS</p>
    </div>
      </li>
      <li class="types__sublist">
        <div class="types__color">
        <img
          src="./img/dark-choc.webp"
          alt="semi sweet chocolate"
          class="types__img"
        />
        <p class="types__text">SEMI - SWEET CHOCOLATE</p>
    </div>
      </li>
    </ul>
  </div>
</section>
