<section class="types">
    <div class="container">
      <h1 class="types__title">
          IT ALL ADDS UP TO ONE <br>  EXCEPTIONAL  TASTE SENSATION
      </h1>
      <h2 class="types__titles">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        
        is in the details. From the sourcing of the finest ingredients to the
        
        careful crafting of each individual piece, every step of our process adds
      
        up to one exceptional taste sensation.
      </h2>
      <ul class="types__list">
        <li class="types__subtitle">
          <div class="types__color">
          <img
            src="../img/milk-choc.webp"
            alt="milk chokolate"
            class="types__img"
          />
  
          <p class="types__text">MILK CHOCOLATE</p>
      </div>
        </li>
        <li class="types__subtitle">
          <div class="types__color">
          <img src="../img/milk.webp" alt="milk" class="types__img" />
  
          <p class="types__text">MILK</p>
      </div>
        </li>
        <li class="types__subtitle">
          <div class="types__color">
          <img src="../img/nuts.webp" alt="nuts" class="types__img" />
  
          <p class="types__text">NUTS</p>
      </div>
        </li>
        <li class="types__subtitle">
          <div class="types__color">
          <img
            src="../img/dark-choc.webp"
            alt="semi sweet chocolate"
            class="types__img"
          />
  
          <p class="types__text">SEMI - SWEET CHOCOLATE</p>
      </div>
        </li>
      </ul>
    </div>
  </section>
  