.container {
  width: 1136px;
  outline: 1px solid red;
  margin: 0 auto;
  padding: 0 32;
}
@media screen and (max-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Montserrat";
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  padding-top: 26px;
  padding-bottom: 34px;
}
.header > .container {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.54px;
}
.header__list {
  list-style: none;
  display: flex;
  gap: 24px;
  margin-left: 188px;
}
.header__link {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.28px;
}
.header__items {
  display: flex;
}

.hero {
  padding-bottom: 72px;
}
.hero__background {
  background-image: url(../img/hero-back.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  border-radius: 25px;
  padding-left: 40px;
  padding-right: 40px;
}
.hero__text {
  display: flex;
  justify-content: flex-start;
  padding-top: 381px;
  margin-bottom: 32px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 121.429% */
  letter-spacing: -0.84px;
  text-align: start;
}
.hero__list {
  display: flex;
  gap: 14px;
}
.hero__button {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 100px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  background-color: #FD9222;
}
.hero__sublist:last-child .hero__button {
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #FFF;
}
.hero__subdiv {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 50px;
}
.hero__subtext {
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.42px;
  margin-right: 14px;
}

.advantages {
  background-color: black;
  padding: 50px 50px;
}
.advantages__title {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 0.8;
  margin-bottom: 18px;
}
.advantages__text {
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  width: 308px;
}
.advantages__list {
  display: flex;
  justify-content: center;
  gap: 88px;
}
.advantages__symbol {
  fill: #FD9222;
}
.advantages__link {
  height: 32px;
  width: 32px;
  margin-bottom: 22px;
  border: solid gray 1px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 7px 7px;
}

.types {
  padding-top: 128px;
  padding-bottom: 128px;
}
.types__title {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.types__sublist:nth-child(2) .types__color {
  background-color: none;
  border: solid #FD9222 1px;
}
.types__list {
  display: flex;
  justify-content: center;
  gap: 19px;
}
.types__titles {
  display: flex;
  margin-bottom: 50px;
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  padding-left: 357px;
  padding-right: 357px;
}
.types__color {
  background-color: #FD9222;
  padding: 28px;
  border-radius: 15px;
}
.types__text {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.cooking {
  padding-top: 100px;
  background-color: #FAFAFA;
  width: 100%;
}
.cooking__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1136px) {
  .cooking__wrap {
    display: block;
    padding-bottom: 36px;
    border-bottom: 51px solid #D9D9D9;
  }
}
.cooking__title {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.6px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .cooking__title {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.72px;
  }
}
@media screen and (min-width: 1136px) {
  .cooking__wrapper {
    display: flex;
    justify-content: center;
  }
}
.cooking__span {
  color: #FD9222;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.6px;
}
@media screen and (min-width: 768px) {
  .cooking__span {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.72px;
  }
}
.cooking__img {
  width: 335px;
  height: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(<path-to-image>) lightgray -158.445px -335.767px/187.796% 186.969% no-repeat;
}
@media screen and (min-width: 768px) {
  .cooking__img {
    width: 614px;
  }
}
@media screen and (min-width: 1136px) {
  .cooking__img {
    width: 600px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
.cooking__box {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 20px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .cooking__box {
    padding: 32px;
  }
}
.cooking__subtitle {
  width: 307px;
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .cooking__subtitle {
    width: 350px;
    margin-right: 120px;
  }
}
@media screen and (min-width: 1136px) {
  .cooking__subtitle {
    margin-right: 102px;
  }
}
.cooking__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  list-style-type: disc;
  list-style-position: inside;
}
.cooking__item {
  width: 291px;
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 768px) {
  .cooking__item:first-child {
    width: 464px;
  }
}
@media screen and (min-width: 1136px) {
  .cooking__item:first-child {
    width: 436px;
  }
}
@media screen and (min-width: 768px) {
  .cooking__item:nth-child(2) {
    width: 464px;
  }
}
@media screen and (min-width: 1136px) {
  .cooking__item:nth-child(2) {
    width: 409px;
  }
}
@media screen and (min-width: 768px) {
  .cooking__item:nth-child(3) {
    width: 409px;
  }
}
@media screen and (min-width: 768px) {
  .cooking__item:nth-child(4) {
    width: 347px;
  }
}
@media screen and (min-width: 768px) {
  .cooking__item:last-child {
    width: 464px;
  }
}
@media screen and (min-width: 1136px) {
  .cooking__item:last-child {
    width: 404px;
  }
}
@media screen and (min-width: 768px) {
  .cooking__item {
    width: 100%;
  }
}

.products {
  align-items: center;
  text-align: center;
}
.products__title {
  color: #111;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
.products__color {
  color: #FD9222;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
.products__list {
  margin-top: 32px;
}
@media screen and (min-width: 1200px) {
  .products__list {
    display: flex;
    justify-content: center;
    gap: 18px;
  }
}
.products__item {
  display: none;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
.products__item:nth-child(1) {
  display: block;
}
@media screen and (min-width: 1200px) {
  .products__item {
    display: block;
  }
}
.products__name {
  margin-top: 8px;
  margin-bottom: 2px;
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
}
.products__desc {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.24px;
}
.products__price {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #FAFAFA;
  margin-top: 18px;
  padding-right: 20px;
  padding-top: 8px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 14px;
}
.products__price:hover {
  background-color: #FD9222;
  color: white;
}

.slider {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 13px;
  margin-top: 20px;
  background-image: url(./src/);
}
.slider__dot {
  width: 13px;
  height: 13px;
  border-radius: 100px;
  border: none;
}

.sellers {
  padding-top: 100px;
  background: #FAFAFA;
}
.sellers__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sellers__title {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.72px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .sellers__title {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 50px;
  }
}
.sellers__span {
  color: #FD9222;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.72px;
}
@media screen and (min-width: 768px) {
  .sellers__span {
    font-size: 24px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 768px) {
  .sellers__list {
    display: flex;
    gap: 16px;
  }
}
.sellers__item:first-child {
  margin-bottom: 142px;
}
@media screen and (min-width: 768px) {
  .sellers__item:first-child {
    margin-bottom: 0;
  }
}
.sellers__item:last-child {
  display: none;
}
@media screen and (min-width: 1136px) {
  .sellers__item:last-child {
    display: block;
  }
}
.sellers__img {
  border-radius: 15px;
}
.sellers__wrap {
  position: relative;
}
@media screen and (min-width: 768px) {
  .sellers__wrap {
    position: static;
    display: flex;
    gap: 236px;
    margin-top: 32px;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1136px) {
  .sellers__wrap {
    gap: 567px;
  }
}
.sellers__text {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  width: 306px;
  position: absolute;
  bottom: 565px;
  left: -109px;
}
@media screen and (min-width: 768px) {
  .sellers__text {
    position: static;
    bottom: 0;
    left: 0;
  }
}
@media screen and (min-width: 1136px) {
  .sellers__text {
    width: 407px;
  }
}
.sellers__button {
  border-radius: 100px;
  padding: 14px 28px;
  background-color: #FD9222;
  border: none;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .sellers__button {
    padding: 14px 40px;
    margin-top: 0;
  }
}
.sellers__link {
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .sellers__link {
    font-size: 18px;
  }
}/*# sourceMappingURL=main.css.map */